{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    {% include "errors/flash.html" %}
    <div class="jumbotron">
        <div style="width: 50%; margin: 0 auto;">
            <h2>Crie sua conta</h2>
            <br>
            <form name="form-register" action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}
                <div>
                    {{ wtf.form_field(form.lattes)}}
                </div>
                <br>
                <div style="text-align: center;">
                    {{ form.submit(class_="btn btn-secondary")}}
                </div>
            </form>
            <br>
            <h6>
                O lattes é usado para coletar suas informações automaticamente.
                {# A pagina de registro manual foi retirada #}
                {# <br>Não possui lattes? <a href="{{ url_for('auth.registerManual') }}">Crie sua conta manualmente aqui.</a> #}
            </h6>
        </div>
    </div>
</div>
{% endblock %}