{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block head %}
    <meta http-equiv="refresh" content="5">
{% endblock %}

{% block body %}
<br>
<div class="container">
    {% include "errors/flash.html" %}
    <div class="jumbotron">
        <h1>Painel administrativo</h1>
        <br>
        <p>A seguir, as palavras buscadas na ferramenta. O tamanho é proporcional a quantidade de vezes que as mesmas foram buscadas.</p>
        <div style="text-align: center;">
            <br>
            <div><img src='{{ url }}'></div>
        </div>
        <br>
        <br>
        <div id="frequencia_termos">
            <table class="dt-responsive table table-striped table-bordered" id="tabela" >
                <thead>
                    <tr>
                        <th>Palavra</th>
                        <th>Contador</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for palavra in palavras %}
                        <tr>
                            <td>{{ palavra.pk_palavra }}</td>
                            <td>{{ palavra.count }}</td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#ModalApagaPalavra" id="botao" data-value_palavra="{{ palavra.pk_palavra }}" data-value="{{ url_for('admin.apaga_palavra', palavra=palavra.pk_palavra) }}">X</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalApagaPalavra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Apagando termo: <strong><span id="palavra"></span></strong>.</h5>
        </div>
        <div class="modal-body" style="text-align: center;">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Voltar</button>
            <a id="btn-excluir" href="#" class="btn btn-outline-danger" name="excluir">Excluir</a>
        </div>
        </div>
    </div>
</div>
<br/>

<script>

    $(document).ready(function() {
    var table = $('#tabela').DataTable( {
        /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ palavras por página",
            "zeroRecords": "Não encontramos nada com esse filtro",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há ocorrências com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ palavras)",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Próximo",
                "previous": "Anterior",
                },
            "loadingRecords": "Carregando...",
            "search": "Filtrar:",
                "aria": {
                "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
                "sortDescending": ": Ative para odenar a coluna de forma descendente"
                }
            },
        "order": [[2, "asc"]]
        } );
    } );

    $('#ModalApagaPalavra').on('show.bs.modal', function(e) {
        $(this).find('#btn-excluir').attr('href', $(e.relatedTarget).data("value"));
        $(this).find('#palavra').text($(e.relatedTarget).data("value_palavra"));
    });

</script>
{% endblock %}