{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="jumbotron">
        <h1>Log de buscas</h1>
        <br>
        <div id="logs">
            <table class="dt-responsive table table-striped table-bordered" id="tabela">
                <thead>
                    <tr>
                        <th width="13%">Data</th>
                        <th>Horário</th>
                        <th>Busca</th>
                        <th>Ip</th>
                        <th>OS</th>
                        <th>Navegador</th>
                        <th>Professor selecionado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for busca in buscas %}
                        <tr>
                            <td>{{ busca.data_e_hora.strftime('%d-%m-%Y') }}</td>
                            <td>{{ busca.data_e_hora.strftime('%H:%M:%S') }}</td>
                            <td>{{ busca.palavra_buscada }}</td>
                            <td>{{ busca.ip }}</td>
                            <td>{{ busca.sistema_operacional }}</td>
                            <td>{{ busca.browser }}</td>
                            <td>{{ busca.professor_selecionado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    $(document).ready(function() {
    var table = $('#tabela').DataTable( {
    
        /*MUDA LINGUAGEM*/
        "language": {
            "lengthMenu": "Mostrar _MENU_ palavras por página",
            "zeroRecords": "Não encontramos nada com esse filtro",
            "info": "Mostrando _PAGE_ de _PAGES_",
            "infoEmpty": "Não há ocorrências com esse filtro",
            "infoFiltered": "(filtrado de um total de _MAX_ palavras)",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Próximo",
                "previous": "Anterior",
                },
            "loadingRecords": "Carregando...",
            "search": "Filtrar:",
                "aria": {
                "sortAscending": ": Ative para ordenar a coluna de forma ascendente",
                "sortDescending": ": Ative para odenar a coluna de forma descendente"
                }
            },
        
        "order": [[ 0, "desc" ], [ 1, "desc" ]],
        "columnDefs" : [{"targets":0, "type":"date-eu"}],
        } );
    } );
</script>
{% endblock %}