{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block head %}
    <meta http-equiv="refresh" content="5">
{% endblock %}

{% block body %}
<br>
<div class="container">
    {% include "errors/flash.html" %}
    <div class="jumbotron">
        <table class="dt-responsive table table-striped table-bordered" id="tabela">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
            {% set autorizadoMark='<i class="fas fa-check-circle" style="color: #00ff48"></i> Autorizado' %}
            {% set naoAutorizadoMark='<i class="fas fa-times-circle" style="color: red"></i> Não autorizado' %}
            {% set adminMark='<i class="fas fa-lock" style="color: blue"></i> Administrador' %}
            {% set questionMark='<i class="fas fa-question-circle" style="color: #e8a405"></i> Autorizar' %}
            {% set removeMark='<i class="fas fa-minus-circle" style="color: #940803"></i> Remover'%}
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        {% if usuario.admin %}
                            {{ adminMark|safe }}
                        {% elif usuario.autorizado %}
                            {{ autorizadoMark|safe }}
                        {% else %}
                            {{ naoAutorizadoMark|safe }}
                        {% endif %}
                    </td>
                    <td>
                        {% if not usuario.autorizado %}
                        <a href="#" class="autorizarButton" data-toggle="modal" data-target="#meuModal" id="botao" data-titulo="Autorizando" data-nome="{{ usuario.nome }}" data-email="{{ usuario.email }}" data-link="autorizar">
                            {{ questionMark|safe }}
                        </a>
                        <br>
                        {% endif %}
                        <a href="#" class="removerButton" data-toggle="modal" data-target="#meuModal" id="botao" data-titulo="Removendo" data-nome="{{ usuario.nome }}" data-email="{{ usuario.email }}" data-link="remover">
                            {{ removeMark|safe }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="meuModal" tabindex="-1" role="dialog" aria-labelledby="modalAria" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAria"><span id="titulo"></span> usuario: <strong><span id="usuario"></span></strong></h5>
            </div>

            <div class="modal-body">
                <a id="confirmButton" class="btn btn-success" href="#">Sim</a>
                <button class="btn btn-danger" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#tabela').DataTable();

        $("#meuModal").on('show.bs.modal', function(event) {
            let button = $(event.relatedTarget);
            let nome = button.data("nome");
            let email = button.data("email").replace("@", "%40");
            let path = button.data("link");
            let titulo = button.data("titulo");

            let url = window.location.href + '/' + path + '/' + email;

            let modal = $(this);
            modal.find("#confirmButton").attr("href", url);
            modal.find("#usuario").text(nome);
            modal.find("#titulo").text(titulo);
        })

    } );
</script>
{% endblock %}