<!-- base.html -->
{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="jumbotron">
      <h1>Quem@PUC</h1>
      <br><p class="lead">Nenhum resultado correspondente foi encontrado em sua pesquisa - <span style="background-color: #FFFF00">{{ busca }}</span>.</p>
      <br>
      <a style="text-align: center;" class="nav-link" href="{{ url_for('home.index') }}"><button type="button" class="btn btn-outline-secondary" style="width: 15%;">Home <i class="fas fa-home"></i></button></a>
      <br>
      <hr>
      <br>
    </div>
  </div>
{% endblock %}