{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    {% include "errors/flash.html" %}
    <div class="jumbotron">
        <div style="width: 50%; margin: 0 auto;">
            <h2>Adicione informações</h2>
            <br>
            <form name="form-register" action="" method="post" class="form" role="form">
                {{ form.csrf_token() }}
                <div>
                    {{ wtf.form_field(form.tipo)}}
                </div>
                <div>
                    {{ wtf.form_field(form.informacao)}}
                </div>
                <br>
                <div style="text-align: center;">
                    {{ form.submit(class_="btn btn-secondary")}}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}