{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block head %}
    <meta http-equiv="refresh" content="5">
{% endblock %}

{% block body %}
<style>
    .tabelas-perfil {
        width: 100%;
        border-spacing: 0;
    }
    .botoes_modal {
        display: inline-block;
    }
</style>
<br>
<div class="container">
    {% include "errors/flash.html" %}

    <div class="jumbotron">

        <div class="titulo" id="titulo">
            <h1>Perfil</h1>
            <h3>Cadastre ou modifique suas palavras-chave ou laboratórios em que trabalha</h3>
        </div>
        <div id="link-nova-informacao" style="text-align: center">
            <h4>
                <a href="{{ url_for('user.nova_informacao') }}">Adicionar nova informação</a>
            </h4>
        </div>
        <br>

        <div id="tabelas">
            <ul class="nav nav-tabs" role="tablist">        {# tablist contendo as tabs para cada tipo de info #}
            {% for i, nome_conteudo in enumerate(conteudo.keys()) %}
                {% if i == 0 %}{% set tipoAba = 'active' %}{% else %}{% set tipoAba = '' %}{% endif %}
                {# a linha acima define se a aba sera ativa ou nao #}
                <li class="nav-item">
                    <a class="nav-link {{ tipoAba }}" href="#tab-{{ i }}" data-toggle="tab">{{ escolhas[nome_conteudo] }}</a>
                </li>
            {% endfor %}
            </ul>
            {# criando as tabelas #}
            <div class="tab-content">
            {% for i, nome_conteudo in enumerate(conteudo.keys()) %}
                {% if i == 0 %}             {# se for a primeira tabela #}
                <div class="tab-pane active" id="tab-{{ i }}">      {# deixa ela acionada #}
                {% else %}
                <div class="tab-pane" id="tab-{{ i }}">             {# se nao, normal #}
                {% endif %}
                    <table id="tabela{{ i }}" class=" dt-responsive table table-striped table-bordered tabelas-perfil">
                        <thead>
                            <tr>
                                {% for a in abas[nome_conteudo] %}
                                <th>{{ a|capitalize }}</th>
                                {% endfor %}
                                <th> Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if conteudo.get(nome_conteudo) %}
                        {% for dicionario_info in conteudo[nome_conteudo] %}
                            <tr>
                                {% for aba in abas[nome_conteudo] %}
                                <td>{{ dicionario_info[aba] }}</td>
                                {% endfor %}
                                <td>
                                    {% set nome_info = dicionario_info[abas[nome_conteudo][0]] %}      {# nome da informacao, que é a informação da primeira aba #}
                                    {% set id = dicionario_info['id'] %}                               {# id da informacao #}
                                    <a href="#" class="removerInfo" data-toggle="modal" data-target="#meuModal" data-info="{{ nome_info }}"
                                       data-tipo="{{ escolhas[nome_conteudo] }}" data-url="remover/{{ nome_conteudo }}/{{ id }}">
                                        <i class="fas fa-times-circle" style="color: #ff0000"></i> Remover
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

    <div class="modal fade" id="meuModal" tabindex="-1" role="dialog" aria-labelledby="modalAria" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center">
                    <h5 class="modal-title" id="modalAria">
                        Removendo <span id="tipo"></span>: <strong><span id="info"></span></strong>
                    </h5>
                </div>

                <div class="modal-body" style="text-align: center">
                    <a id="confirmButton" class="botoes_modal btn btn-success" href="#">Confirmar</a>
                    <button class="botoes_modal btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        $('a[data-toggle="tab"]').on('show.bs.tab', () => {
            $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
        } );


        $('#meuModal').on('show.bs.modal', function(event) {
            let button = $(event.relatedTarget);
            let info = button.data('info');
            let tipo = button.data('tipo');
            let url = '/' + button.data('url')

            let modal = $(this);
            modal.find("#confirmButton").attr("href", url);
            modal.find("#tipo").text(tipo);
            modal.find("#info").text(info);
        })
    } );
</script>
{% endblock %}